@charset "UTF-8";

@import "/fonts/roboto-mono/stylesheet.css";
@import "/fonts/fondamento/stylesheet.css";

.page-container {
	font-family: 'roboto-mono';
}

.page-header {
	padding-top: 48px;
	padding-bottom: 48px;
}

#form-result {
	padding-top: 72px;
	padding-bottom: 72px;
}